[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-rest = "*"
djangorestframework = "*"
expects = "*"
pytest-expect = "*"
pytest = "*"
django = "*"
python-dotenv = "*"
geopandas = "*"
matplotlib = "*"
descartes = "*"
pandas = "*"

[requires]
python_version = "3.7"
