[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-rest = "*"
djangorestframework = "*"
expects = "*"
gunicorn = "*"
pytest-expect = "*"
pytest = "*"
django = "*"
python-dotenv = "*"
django-heroku = "*"
pytest-env = "*"
pytest-dotenv = "*"

[requires]
python_version = "3.7"
